{% extends 'index.html' %}
{% block content %}
<div class="container-fluid">
<hr>
<div>

    <form action="" method="POST" class="float-right">
        {% csrf_token %}
        <select onchange="this.form.submit()" name="term">
            {% for trm in term %}
                <option name="term">{{trm}}</option>
            {% endfor %}
            </select>

<select onchange="this.form.submit()" name="subject">
    <option disabled selected="True">Select your Subject</option>
    {% for subject in subjects %}
        <option >{{subject}}</option>
    {% endfor %}
    </select>
</form>
</div>
<hr>






<div>
    <h1>
        Hello world
    </h1>
</div>    
</div>
{% endblock content %}