{% extends 'index.html' %}
{% block content %}
<div class="container-fluid">
    <div class="form col-lg-10  border rounded pt-5 mt-3 float-right">

        <div class="alert alert-light border-rounded" role="alert">
            <h2>Edit Email</h2>
        </div>
<hr>
        <div >
            {% if msg %}
            <div class="alert alert-success" role="alert">
              <h4 class="alert-heading">{{msg}}</h4>

            </div>
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="">Email</label>

                    <input type="email" name="email" value="{{student.email}}" class="form-control form-control-sm"
                           placeholder="xyz@gmail.com" aria-describedby="helpId">
                </div>
                <input type="submit" value="Confirm" class="btn btn-success mb-2">
            </form>
        </div>
    </div>
<!--     <div>-->
<!--            <div class="col-lg-2 my-2">-->
<!--                <div>-->
<!--                    <div class="list-group shadow-lg">-->
<!--                        {% for cat in category %}-->
<!--                        <a href="/category/{{cat.id}}" class="list-group-item list-group-item-dark text-decoration-none">-->
<!--                            {{cat.cat_name}} </a>-->
<!--                        {% endfor %}-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
</div>













{% endblock content %}